@import url('reset.css');

@font-face {
  font-family: 'MonR';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonL';
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MonB';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  position: relative;
}

.bckg-img {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
}

.block1 {
  background-image: url('../img/blck1.png');  
  height: 1180px;  
  background-position: -620px -310px; 
}

.peoples-n-city {
  background-image: url('../img/peoples-n-city.png');
  width: 100%;
  height: 1060px;
  background-position: 1000px 150px;
  background-repeat: no-repeat;
}

.block2 {
  background-image: url('../img/blck2.png');  
  height: 900px;
  background-position: -640px 0%;
  background-size: 85%;
}

.block3 {
  background-image: url('../img/blck3.png');  
  height: 900px;
  background-size: 95%;
}

.peoples-n-path {
  background-image: url('../img/peoples-n-path.svg');
  width: 100%;
  height: 100%;
  background-position: 0px -30px;
  background-size: 75%;
  background-repeat: no-repeat;
}

.block4 {
  background-image: url('../img/blck4.png');
  height: 1880px;
  background-size: 100%;
  background-position: 190px 0px;
  top: 100px;
}

.mt-blck5 {
  margin-top: 650px;
}

.block5 {
  background-image: url('../img/blck5.png');
  height: 100%;
  background-position: -800px 930px;
}

/* ================================================ */

.fc-white {
  color: #FFFFFF;
}

.fc-blue {
  color: #2352FF;
}

.fc-d-blue {
  color: #1D3FBE;
}

.fw-b {
  font-family: MonB;
}

/* ================================================ */

.button {
  display: flex;
  border-radius: 60px;
  background: #FFC107;
  max-width: 340px;
  margin-top: 48px;
}

.button:hover {
  background: #FFDD77;
}

.btn-send {
  background: #2352FF;
  width: 100%;
}

.txt-btn {
  color: #fff;
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 60px;
  font-family: MonB;
}

/* ================================================ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 970px;
  margin-right: 86px;
  margin-left: auto;
  padding: 40px 0 26px;;
}

.navbar li {
  display: inline-block;
}

.navbar-item {
  font-size: 24px;
  line-height: 40px;
  color: #2352FF;
  position: relative;
  font-weight: 600;
}

.navbar-item:hover {
  color: #2352FF;
  text-decoration: none;
}

.navbar li:hover .navbar-item:after {
  position: absolute;
  content: '';
  top: 32px;
  left: 0;
  width: 100%;
  background: #FFC107;
  height: 4px;
}

.burger {
  /* display: none; */
  width: 20px;
  height: 14px;
  background-image: url('../img/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
}

.burger:hover {
  cursor: pointer;
}

.hide_menu {
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/hide_menu.png');
  position: fixed;
  background-position: center;
  z-index: 990;
  top: 0;
  left: 0;
  padding: 28px 16px 0 44px;
}

.hide_close {
  width: 16px;
  height: 16px;
  background-image: url('../img/hide_close.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-bottom: 48px;
}

.hide_close:hover {
  cursor: pointer;
}

.hide_navbar .navbar-item {
  color: #fff;  
}

.hide_navbar li {
  margin-bottom: 32px;
}

/* ================================================ */

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.head {
  padding-left: 90px;
}

.smart-logo {
  background-image: url('../img/smart-logo.svg');
  width: 130px;
  height: 124px;
}

.blockTop-h1 {
  font-size: 86px;
  line-height: 90px;
  font-family: MonB;
  margin-top: 80px;
}

.blockTop-p {
  font-size: 28px;
  line-height: 50px;
  margin-top: 40px;
}



/* ================================================ */

.mob-block-2,
.mob-block-3 {
  background-size: contain;
  height: 740px;
  margin: 0 auto;
}

.block-contain {
  max-width: 700px;
  margin: 0 auto;
}

.blockMjr-h2 {
  font-size: 64px;
  line-height: 60px;
  font-family: MonB;
  margin-top: 220px;
}

.blockMjr-p {
  font-size: 22px;
  line-height: 40px;
  margin-top: 40px;
}

.mob-block-2 {
  background-image: url('../img/mob-block-2.svg');
}

.mob-block-3 {
  background-image: url('../img/mob-block-3.svg');
}



/* ================================================ */

.conts-adrs {
  display: flex;
  width: 474px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 72px;
}

.conts-city {
  font-size: 24px;
  font-family: MonB;
  line-height: 40px;
  position: relative;
  color: #2352FF;
  background: transparent;
  cursor: pointer;
}

.curr-sity:after {
  position: absolute;
  content: '';
  top: 36px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}

.altarx-logo {
  background-image: url('../img/altarx-logo.svg');
  margin-top: 48px;
  width: 210px;
  height: 24px;
}

.contacts {
  display: none;
  height: 360px;  
}

.curr-conts {
  display: block;
}

.conts-txt {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 72px;
}

.conts-txt:last-child {
  margin-bottom: 0;
}

/* ================================================ */

.form {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 110px;
}

.input,
.textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #B4C4FF;
  color: #2352FF;
  font-size: 22px;
  line-height: 36px;  
  outline: none;
  width: 100%;
}

.input {
  margin-bottom: 68px;
}

.textarea {
  font-family: MonR;
  resize: none;
}

.input::-webkit-input-placeholder {
  color: #2352FF;
}

.input:-moz-placeholder {
  color: #2352FF;
}

.input:-ms-input-placeholder {
  color: #2352FF;
}

.textarea::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.textarea:-moz-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.textarea:-ms-input-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.submit {
  width: 100%;
  height: 80px;
  background: #2352FF;
  border-radius: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  border: none;
  margin-top: 80px;
  outline: none;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

/* ======================================= */
/* ======================================= */
/* ======================================= */

@media (max-width: 1440px) {
	
  .block-contain {
    max-width: 500px;
  } 

  .blockMjr-h2 {
    margin-top: 120px;
  }

  .peoples-n-city {
    background-position: 700px 190px;
    background-size: 65%;
  }

  .block1 {
    background-position: -770px -310px;
  }

  .blockTop-h1 {
    font-size: 66px;
  }
  
  .blockTop-p {
    font-size: 24px;
    line-height: 48px;
  }
}

@media (max-width: 1370px) {

  .navbar {
    width: 770px;
    margin-right: 26px;
  }

  .blockTop-h1 {
    font-size: 50px;
    line-height: 56px;
  }

  .blockTop-p {
    font-size: 22px;
    line-height: 42px;
  }
}

@media (max-width: 1024px) {

  .navbar-item {
    font-size: 20px;
  }

  .navbar {
    width: 620px;
    margin-right: 20px;
  }

  .block1 {
    background-position: -410px -80px;
    background-size: 170%;
    height: 1010px;
  }

  .peoples-n-city {
    background-position: 490px 290px;
  }

  .block2 {
    background-position: -640px 0px;
    background-size: 105%;
  }

  .blockMjr-h2,
  .blockMjr-p {
    text-align: center;
  }

  .mt-blck5 {
    margin-top: 270px;
  }

  .block5 .button {
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    padding-top: 130px;
  }
}

@media (max-width: 812px) {

  .smart-logo {   
    width: 100px;
    height: 100px;
    margin-top: 22px;
  }

  .peoples-n-city {
    height: 100%;
  }

  .block1 {
    height: 800px;
  }

  .blockTop-h1 {
    margin-top: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  .blockTop-p {
    font-size: 20px;
    line-height: 38px;
    margin-top: 30px;
  }

  .button {
    max-width: 270px;
    margin-top: 28px;
  }

  .txt-btn {
    font-size: 16px;
  }

  .order-resp1 {
    order: 1;
  }

  .order-resp2 {
    order: 2;
  }

  .block-contain {
    max-width: 80%;
  }

  .blockMjr-h2 {
    margin-top: 20px;
    font-size: 42px;
    line-height: 50px;
  }

  .blockMjr-p {
    font-size: 20px;
    line-height: 38px;
  }

  .mob-block-2,
  .mob-block-3 {
    height: 500px;
    margin-top: 50px;
  }

  .block2 {
    background-position: -170px 420px;
  }

  .block3 {
    margin-top: 70px;
    background-position: -170px 300px;
    background-size: 140%;
  }

  .block4 {
    background-image: url('../img/blck4_2.png');
    background-position: -60px -230px;
    padding-top: 90px;
    background-size: 140%;
    top: 20px;
  }

  .peoples-n-path {
    background-position: 60px 200px;
    background-size: 80%;
  }

  .block5 .button {
    margin-right: 12px;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
  }

  .mt-blck5 {
    margin-top: 370px;
  }

  .conts-adrs {
    width: 100%;
  }

  .mob-str {
    display: flex;
    justify-content: space-between
  }

  .altarx-logo  {
    margin-top: 0;
  }

  .form {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {

  .block4 {
    background-position: -60px -220px;
  }
}

@media (max-width: 736px) {

  .block1 {
    background-position: -350px -30px;
  }

  .peoples-n-city {
    background-position: 370px 450px;
  }

  .navbar {
    margin-right: 6px;
  }

  .smart-logo {
    margin-top: 44px;
  }

  .blockTop-h1 {
    margin-top: 10px;
  }

  .blockMjr-h2 {
    margin-top: 30px;
  }

  .block4 {
    padding-top: 40px;
    background-position: -60px -200px;
  }
}

@media (max-width: 414px) {

  .navbar {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .smart-logo {
    width: 38px;
    height: 36px;
    margin-top: 0;
  }

  .block1 {
    background-position: -150px -80px;
    height: 430px;
  }

  .peoples-n-city {
    background-position: 190px 220px;
  }

  .head {
    padding-left: 10px;
    padding-top: 30px;
  }

  .blockTop-h1 {
    font-size: 36px;
    line-height: 60px;
  }

  .blockTop-p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
  }

  .button {
    width: 154px;
    height: 44px;    
  }

  .txt-btn {
    font-size: 12px;
    line-height: 32px;
  }

  .block-contain {
    max-width: 100%;
  }

  .block-contain h2,
  .block-contain p {
    text-align: left;
  }

  .blockMjr-h2 {
    font-size: 30px;
    line-height: 60px;
    margin-top: 0;
  }

  .blockMjr-p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
  }

  .block2 {
    background-position: -110px 280px;
    background-size: 140%;
    height: 560px;
  }

  .mob-block-2, 
  .mob-block-3 {
    height: 290px;
    margin-top: 32px;
  }

  .block3 {
    background-position: -110px 210px;
    height: 530px;
  }

  .block4  {
    background-position: -110px -130px;
    background-size: 160%;
    height: 1200px;
  }

  .peoples-n-path {
    background-position: 0px 160px;
    background-size: 110%;
  }

  .mt-blck5 {
    margin-top: 300px;
  }

  .block5 {
    background-image: none;
  }

  .contacts {
    height: 150px;
  }

  .conts-city {
    font-size: 18px;
  }

  .conts-txt {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  .altarx-logo  {
    width: 140px;
    height: 16px;
  }

  .form {
    width: 100%;
  }

  .input {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .textarea {
    font-size: 16px;
  }

  .submit {
    height: 44px;
    font-size: 12px;
    line-height: 44px;
    margin-top: 26px;
  }
}

@media (max-width: 375px) {

  .peoples-n-city {
    background-position: 170px 240px;
  }

  .blockMjr-h2 {
    line-height: 40px;
    margin-bottom: 10px;
  }

  .block4 {
    background-position: -110px -120px;
  }
}