@import url('reset.css');

@font-face {
  font-family: 'MonR';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonL';
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MonB';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: darkkhaki;
}

/* ================================================ */

.fc-white {
  color: #FFFFFF;
}

.fc-blue {
  color: #2352FF;
}

.fc-d-blue {
  color: #1D3FBE;
}

.fw-b {
  font-family: MonB;
}

/* ================================================ */

.mt-bl2 {
  margin-top: 50px;
}

.mt-bl3 {
  margin-top: 360px;
}

.mt-bl4 {
  margin-top: 130px;
}

.mt-bl5 {
  margin-top: 330px;
}

/* ================================================ */

.button {
  display: flex;
  border-radius: 60px;
  background: #FFC107;
  max-width: 340px;
  margin-top: 48px;
}

.button:hover {
  background: #FFDD77;
}

.btn-send {
  background: #2352FF;
  width: 100%;
}

.txt-btn {
  color: #fff;
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 60px;
  font-family: MonB;
}

/* ================================================ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 970px;
  margin-right: 86px;
  margin-left: auto;
  padding: 40px 0 26px;;
}

.navbar li {
  display: inline-block;
}

.navbar-item {
  font-size: 24px;
  line-height: 40px;
  color: #2352FF;
  position: relative;
  font-weight: 600;
}

.navbar-item:hover {
  color: #2352FF;
  text-decoration: none;
}

.navbar li:hover .navbar-item:after {
  position: absolute;
  content: '';
  top: 32px;
  left: 0;
  width: 100%;
  background: #FFC107;
  height: 4px;
}

/* ================================================ */

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.head {
  padding-left: 90px;
}

.smart-logo {
  background-image: url('../img/smart-logo.svg');
  width: 130px;
  height: 124px;
}

.blockTop-h1 {
  font-size: 86px;
  line-height: 90px;
  font-family: MonB;
  margin-top: 80px;
}

.blockTop-p {
  font-size: 28px;
  line-height: 50px;
  margin-top: 40px;
}

.peoples-n-city {
  background-image: url('../img/peoples-n-city.png');
  width: 100%;
  height: 1060px;
}

/* ================================================ */

.mob-block-2 {
  background-image: url('../img/mob-block-2.svg');
  width: 770px;
  height: 740px;
  margin: 0 auto;
}

.block-contain {
  max-width: 700px;
  margin: 0 auto;
}

.blockMjr-h2 {
  font-size: 64px;
  line-height: 60px;
  font-family: MonB;
  margin-top: 220px;
}

.blockMjr-p {
  font-size: 22px;
  line-height: 40px;
  margin-top: 40px;
}

.mob-block-3 {
  background-image: url('../img/mob-block-3.svg');
  width: 770px;
  height: 740px;
  margin: 0 auto;
}

.peoples-n-path {
  background-image: url('../img/peoples-n-path.svg');
  width: 770px;
  height: 740px;
}

/* ================================================ */

.conts-adrs {
  display: flex;
  width: 474px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 72px;
}

.conts-city {
  font-size: 24px;
  font-family: MonB;
  line-height: 40px;
  position: relative;
  color: #2352FF;
}

.curr-sity:after {
  position: absolute;
  content: '';
  top: 36px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}

.altarx-logo {
  background-image: url('../img/altarx-logo.svg');
  margin-top: 48px;
  width: 210px;
  height: 24px;
}

.contacts {
  display: none;
  height: 360px;
  
}

.curr-conts {
  display: block;
}

.conts-txt {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 72px;
}

.conts-txt:last-child {
  margin-bottom: 0;
}

/* ================================================ */

.form {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 120px;
}

.input,
.textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #B4C4FF;
  color: #2352FF;
  font-size: 22px;
  line-height: 36px;  
  outline: none;
  width: 100%;
}

.input {
  margin-bottom: 68px;
}

.textarea {
  font-family: MonR;
  resize: none;
}

.input::-webkit-input-placeholder {
  color: #2352FF;
}

.input:-moz-placeholder {
  color: #2352FF;
}

.input:-ms-input-placeholder {
  color: #2352FF;
}

.textarea::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.textarea:-moz-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.textarea:-ms-input-placeholder {
  font-size: 22px;
  line-height: 36px;
  font-family: MonR;
  color: #2352FF;
}

.submit {
  width: 100%;
  height: 80px;
  background: #2352FF;
  border-radius: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  border: none;
  margin-top: 80px;
  outline: none;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}